.navbtn{
    padding: 5px;
    /* border: 1px solid lightgray; */
    
}
.navbtn:hover{
    /* background-color: rgb(192, 81, 118); */
    
    border-bottom: 3px  solid rgb(141, 9, 9) ;
    
    color: rgb(39, 39, 39);
    /* padding-bottom: 10px; */
    
    
    
}
