.bg{
    background-image:url(../Images/home-banner-bg.png.webp);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    
}
.card{
    background-color: rgb(242, 242, 243);
    
    
}
.card:hover{
    
    background-color: white;
    box-shadow: 5px 2px 10px  rgb(189, 187, 187);
    
    
}
.btn{
    

}